body {
	font-family: "Helvetica Neue";
}

.sentence {
  font-size: 2.75rem;
  font-family: Helvetica Neue;
  font-weight: 100;
  color: #fff;
  text-align: right
}

.font-w-bold {
  font-weight: 700;
}

.container {
  max-width: 90%;
}